openapi: 3.0.3
info:
  title: Osetrovich Mobile API
  description: REST API мобильного приложения osetrovich.ru (фаза home-screen-content)
  version: 0.7.0

servers:
  - url: https://api.osetrovich.ru/v1
    description: Production (будущее)
  - url: http://localhost:0/mock
    description: Mock (клиентский мок, не реальный сервер)

tags:
  - name: auth
    description: SMS-авторизация и JWT
  - name: catalog
    description: Каталог
  - name: home
    description: Главная
  - name: notifications
    description: Уведомления
  - name: orders
    description: Оформление заказов
  - name: profile
    description: Профиль пользователя
  - name: promotions
    description: Акции и новости

paths:
  /auth/sms/request:
    post:
      tags: [auth]
      summary: Запросить отправку СМС-кода
      operationId: requestSmsCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsRequestBody'
      responses:
        '200':
          description: Код отправлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /auth/sms/verify:
    post:
      tags: [auth]
      summary: Подтвердить СМС-код и получить JWT
      operationId: verifySmsCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsVerifyBody'
      responses:
        '200':
          description: Успешная авторизация
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Неверный код или телефон
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags: [auth]
      summary: Обновить access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [auth]
      summary: Выход
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Успешный выход
        '401':
          $ref: '#/components/responses/Unauthorized'

  /profile/me:
    get:
      tags: [profile]
      summary: Текущий профиль пользователя
      operationId: getProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
              example:
                id: u1
                name: Покупатель
                phone: "+79001234567"
                email: null
                emailVerified: false
                pushEnabled: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [profile]
      summary: Обновить имя профиля
      operationId: updateProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /profile/phone/request:
    post:
      tags: [profile]
      summary: Запросить СМС-код для смены телефона
      operationId: requestPhoneChange
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneChangeRequestBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /profile/phone/verify:
    post:
      tags: [profile]
      summary: Подтвердить смену телефона
      operationId: verifyPhoneChange
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneChangeVerifyBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Неверный код
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /profile/email/request:
    post:
      tags: [profile]
      summary: Запросить код подтверждения email
      operationId: requestEmailVerification
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerifyRequestBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsRequestResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /profile/email/verify:
    post:
      tags: [profile]
      summary: Подтвердить email
      operationId: verifyEmail
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailVerifyBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '400':
          description: Неверный код
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /profile/preferences:
    get:
      tags: [profile]
      summary: Настройки профиля
      operationId: getProfilePreferences
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [profile]
      summary: Обновить настройки профиля
      operationId: updateProfilePreferences
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfilePreferencesBody'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /catalog/categories:
    get:
      tags: [catalog]
      summary: Список категорий для Filter Chips
      operationId: getCategories
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogCategory'

  /catalog/products:
    get:
      tags: [catalog]
      summary: Список товаров категории (пагинация)
      operationId: getProducts
      parameters:
        - name: categoryId
          in: query
          required: true
          description: Идентификатор категории; `all` — все товары
          schema:
            type: string
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 20
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /catalog/products/{id}:
    get:
      tags: [catalog]
      summary: Детальная информация о товаре
      operationId: getProductById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '404':
          description: Товар не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /home/banners:
    get:
      tags: [home]
      summary: Баннеры для главной карусели
      operationId: getHomeBanners
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeBannersResponse'

  /home/weekly-products:
    get:
      tags: [home]
      summary: Товары недели для горизонтальной ленты на главной
      operationId: getWeeklyProducts
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyProductsResponse'

  /notifications:
    get:
      tags: [notifications]
      summary: Список in-app уведомлений
      operationId: getNotifications
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/{id}:
    get:
      tags: [notifications]
      summary: Детальное уведомление
      operationId: getNotificationById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '404':
          description: Уведомление не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/{id}/read:
    post:
      tags: [notifications]
      summary: Отметить уведомление прочитанным
      operationId: markNotificationRead
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Уведомление отмечено прочитанным
        '404':
          description: Уведомление не найдено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/read-all:
    post:
      tags: [notifications]
      summary: Отметить все уведомления прочитанными
      operationId: markAllNotificationsRead
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Все уведомления отмечены прочитанными
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/unread-count:
    get:
      tags: [notifications]
      summary: Количество непрочитанных
      operationId: getUnreadNotificationCount
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnreadCountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /promotions/articles:
    get:
      tags: [promotions]
      summary: Список опубликованных акций или новостей
      operationId: getPromotionArticles
      parameters:
        - name: type
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/PromotionArticleType'
          description: Тип материала для Filter Chip
      responses:
        '200':
          description: Список материалов, отсортированный по дате публикации (новые первыми)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionArticlesResponse'
        '400':
          description: Некорректный параметр type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /promotions/articles/{id}:
    get:
      tags: [promotions]
      summary: Деталь акции или новости
      operationId: getPromotionArticleById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Полный материал с HTML-телом
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionArticleDetail'
        '404':
          description: Материал не найден или снят с публикации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders:
    post:
      tags: [orders]
      summary: Создать заказ
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Заказ создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Некорректный запрос или недоступный товар
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /orders/current:
    get:
      tags: [orders]
      summary: Текущий заказ пользователя
      operationId: getCurrentOrder
      security:
        - bearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentOrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /orders/{orderId}/rating:
    post:
      tags: [orders]
      summary: Оценить выполненный заказ
      operationId: submitOrderRating
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitOrderRatingRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentOrder'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /orders/{orderId}/rating/skip:
    post:
      tags: [orders]
      summary: Пропустить оценку выполненного заказа
      operationId: skipOrderRating
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentOrder'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Некорректный запрос
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Требуется авторизация
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Конфликт (телефон или email уже используется)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    SmsRequestBody:
      type: object
      required: [phone]
      properties:
        phone:
          type: string
          pattern: '^\+7\d{10}$'

    SmsRequestResponse:
      type: object
      required: [retryAfterSeconds]
      properties:
        retryAfterSeconds:
          type: integer
          example: 60

    SmsVerifyBody:
      type: object
      required: [phone, code]
      properties:
        phone:
          type: string
        code:
          type: string
          pattern: '^\d{6}$'

    RefreshBody:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    TokenResponse:
      type: object
      required: [access_token, refresh_token, expires_in, token_type]
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer
        token_type:
          type: string
          enum: [Bearer]

    UserProfile:
      type: object
      required: [id, name, phone, emailVerified, pushEnabled]
      properties:
        id:
          type: string
          example: u1
        name:
          type: string
          example: Покупатель
        phone:
          type: string
          pattern: '^\+7\d{10}$'
          example: "+79001234567"
        email:
          type: string
          format: email
          nullable: true
          example: user@example.com
        emailVerified:
          type: boolean
          example: false
        pushEnabled:
          type: boolean
          example: true

    UpdateProfileBody:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100

    PhoneChangeRequestBody:
      type: object
      required: [phone]
      properties:
        phone:
          type: string
          pattern: '^\+7\d{10}$'

    PhoneChangeVerifyBody:
      type: object
      required: [phone, code]
      properties:
        phone:
          type: string
          pattern: '^\+7\d{10}$'
        code:
          type: string
          pattern: '^\d{6}$'

    EmailVerifyRequestBody:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email

    EmailVerifyBody:
      type: object
      required: [email, code]
      properties:
        email:
          type: string
          format: email
        code:
          type: string
          pattern: '^\d{6}$'

    ProfilePreferences:
      type: object
      required: [pushEnabled]
      properties:
        pushEnabled:
          type: boolean

    UpdateProfilePreferencesBody:
      type: object
      required: [pushEnabled]
      properties:
        pushEnabled:
          type: boolean

    CatalogCategory:
      type: object
      required: [id, name, sortOrder]
      properties:
        id:
          type: string
        name:
          type: string
        sortOrder:
          type: integer

    ProductSummary:
      type: object
      required: [id, name, weightLabel, priceRub, imageUrl, categoryIds]
      properties:
        id:
          type: string
        name:
          type: string
        weightLabel:
          type: string
          description: Отображаемый вес, например «500 г»
          example: 500 г
        priceRub:
          type: integer
          minimum: 0
          description: Цена за единицу в рублях (целое число)
          example: 300
        imageUrl:
          type: string
          format: uri
          description: Основное фото для карточки в сетке
        categoryIds:
          type: array
          items:
            type: string
          description: Категории, к которым относится товар

    ProductDetail:
      type: object
      required: [id, name, weightLabel, priceRub, imageUrls, description, categoryIds]
      properties:
        id:
          type: string
        name:
          type: string
        weightLabel:
          type: string
          example: 500 г
        priceRub:
          type: integer
          minimum: 0
          example: 300
        imageUrls:
          type: array
          minItems: 1
          items:
            type: string
            format: uri
          description: Галерея изображений (горизонтальное листание)
        description:
          type: string
          description: Текстовое описание товара
        categoryIds:
          type: array
          items:
            type: string

    ProductListResponse:
      type: object
      required: [items, total, hasMore, offset, limit]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'
        total:
          type: integer
          minimum: 0
          description: Общее число товаров в выборке категории
        hasMore:
          type: boolean
          description: Есть ли ещё страницы после текущей
        offset:
          type: integer
          minimum: 0
        limit:
          type: integer
          minimum: 1
          maximum: 20

    Banner:
      type: object
      required: [id, imageUrl, sortOrder, link]
      properties:
        id:
          type: string
        imageUrl:
          type: string
          format: uri
        sortOrder:
          type: integer
        link:
          $ref: '#/components/schemas/BannerLink'

    HomeBannersResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Banner'

    BannerLink:
      type: object
      required: [type]
      properties:
        type:
          $ref: '#/components/schemas/BannerLinkType'
        url:
          type: string
          format: uri
        targetId:
          type: string

    BannerLinkType:
      type: string
      enum: [none, external, promotion, news, product]

    WeeklyProductsResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'

    CurrentOrderResponse:
      type: object
      required: [order]
      properties:
        order:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/CurrentOrder'

    CurrentOrder:
      type: object
      required:
        - id
        - orderNumber
        - items
        - itemsSubtotalRub
        - deliveryFeeRub
        - totalRub
        - deliveryAddress
        - status
        - createdAt
        - ratingState
      properties:
        id:
          type: string
        orderNumber:
          type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderLine'
        itemsSubtotalRub:
          type: integer
          minimum: 0
        deliveryFeeRub:
          type: integer
          minimum: 0
        totalRub:
          type: integer
          minimum: 0
        deliveryAddress:
          type: string
        comment:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/OrderStatus'
        createdAt:
          type: string
          format: date-time
        ratingState:
          $ref: '#/components/schemas/OrderRatingState'
        ratingStars:
          type: integer
          minimum: 1
          maximum: 5
          nullable: true

    SubmitOrderRatingRequest:
      type: object
      required: [stars]
      properties:
        stars:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
          maxLength: 500
          nullable: true

    OrderRatingState:
      type: string
      enum: [not_applicable, pending, submitted, skipped]

    Notification:
      type: object
      required: [id, title, body, createdAt, isRead]
      properties:
        id:
          type: string
        title:
          type: string
        body:
          type: string
        createdAt:
          type: string
          format: date-time
        isRead:
          type: boolean

    UnreadCountResponse:
      type: object
      required: [count]
      properties:
        count:
          type: integer
          minimum: 0

    CreateOrderRequest:
      type: object
      required: [items, deliveryAddress]
      properties:
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderLineInput'
        deliveryAddress:
          type: string
          minLength: 1
        comment:
          type: string
          nullable: true

    OrderLineInput:
      type: object
      required: [productId, quantity]
      properties:
        productId:
          type: string
        quantity:
          type: integer
          minimum: 1

    Order:
      type: object
      required:
        - id
        - orderNumber
        - items
        - itemsSubtotalRub
        - deliveryFeeRub
        - totalRub
        - deliveryAddress
        - status
        - createdAt
      properties:
        id:
          type: string
        orderNumber:
          type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderLine'
        itemsSubtotalRub:
          type: integer
          minimum: 0
        deliveryFeeRub:
          type: integer
          minimum: 0
        totalRub:
          type: integer
          minimum: 0
        deliveryAddress:
          type: string
        comment:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/OrderStatus'
        createdAt:
          type: string
          format: date-time

    OrderLine:
      type: object
      required:
        - productId
        - name
        - weightLabel
        - priceRub
        - quantity
        - lineTotalRub
      properties:
        productId:
          type: string
        name:
          type: string
        weightLabel:
          type: string
        priceRub:
          type: integer
          minimum: 0
        quantity:
          type: integer
          minimum: 1
        lineTotalRub:
          type: integer
          minimum: 0

    OrderStatus:
      type: string
      enum:
        - accepted
        - processing
        - assembly
        - delivery
        - completed
      description: |
        accepted — Принят; processing — В обработке; assembly — Сборка;
        delivery — Доставка; completed — Выполнено.
        Значение pending из POST /orders (v0.5.0) трактуется как accepted.

    PromotionArticleType:
      type: string
      enum: [all, promotion, news]
      description: |
        all — все материалы (только query-параметр списка);
        promotion — акция (Filter Chip «Акции»);
        news — новость (Filter Chip «Новости»)

    PromotionArticleSummary:
      type: object
      required: [id, type, title, publishedAt, imageUrl]
      properties:
        id:
          type: string
          example: promo-1
        type:
          $ref: '#/components/schemas/PromotionArticleType'
        title:
          type: string
          example: Скидка 15% на икру
        publishedAt:
          type: string
          format: date-time
          example: '2026-07-10T10:00:00Z'
        imageUrl:
          type: string
          format: uri
          example: https://picsum.photos/seed/promo1/800/450

    PromotionArticleDetail:
      allOf:
        - $ref: '#/components/schemas/PromotionArticleSummary'
        - type: object
          required: [bodyHtml]
          properties:
            bodyHtml:
              type: string
              description: Основной текст с безопасной HTML-разметкой и эмодзи
              example: '<p>Успейте купить <strong>икру</strong> со скидкой! 🎉</p>'

    PromotionArticlesResponse:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PromotionArticleSummary'

    ErrorResponse:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          enum:
            - invalid_request
            - invalid_code
            - invalid_email
            - phone_taken
            - email_taken
            - unauthorized
            - product_unavailable
        message:
          type: string
